/* Styles for the header */

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px lightgrey;
  height: 500px;
  background-color: #f5a74b;
  background-image: url(http://www.transparenttextures.com/patterns/leather.png);
}

.profile img {
  padding-top: 100px;
}

@media only screen and (min-width: 768px) {
  .headerContainer {
    width: 450px;
  }
  .profile {
    background: linear-gradient(140deg, rgba(64, 86, 161, 1) 34%, rgba(245, 167, 75, 1) 74%);
    max-width: 400px;
    height: 400px;
    position: fixed;
    top: 200px;
    left: 30px;
    margin-left: 2%;
    box-shadow: 3px 3px 3px darkgrey;
  }

  .profile img {
    padding-top: 40px;
  }
}
